.casa1_car{
    margin-top: 1rem;
    padding: 0;
    border: black solid 0.3rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}

.casa1_box_1{
    border: black solid 0.3rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}

.casa1_box_1_title{
    text-align: center;
    margin-bottom: 1rem;
}

.casa1_box_2{
    border: black solid 0.3rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}

.casa1_box_2_header{
    border-bottom: black 0.3rem solid;
}

.casa1_container{
    margin-bottom: 1rem;
}

.casa1_descripcion{
    height: 100%;
}
.casa1_descripcion_img{
    height: 100%;
    margin-top: 1rem;
}
.casa1_h1{
    border: $color3 solid 0.2rem;
    border-radius: 0 0rem 1rem 1rem;
    border-top: none;
    background-color: $color3;
}