.contacto_h1{
    text-align: center;
    margin: 1rem;
}

.contacto_form{
    border-color: black;
    background-color: rgb(204, 204, 204);

}

.contacto_form_2{
    display: block;
    width: 98%;
    padding: 0.5rem 0.8rem;
    margin: 0.2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    border-color: black;
    background-color: rgb(204, 204, 204);
}

.contacto_btn{
    margin-bottom: 1rem;
}
