.header_section{
    background-color: $color1;
    padding: 1rem 0rem 1rem 0rem;
}
.header_h2_responsive{
    color: rgb(255, 255, 255);
}

.header_btn{
    border: none;
    background-color:  rgb(204, 204, 204);
}

header{
    section{
        div{
            div{
                div{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.general_header_dropdown_movile{
    
}