.index_padding_nb{
    padding: 2rem 0 2rem 0;
}
.index_img{
    width: 15%;
    padding-top: 0.7rem;
    padding-left: 1rem;
}
.index_h1{
    @extend %flex_centrado;
    margin-top: 3rem;
    text-decoration: underline;
}

.index_card{
    margin: 2rem;
}

.index_card_transformar:hover{
    transform: scale(1.15);
}

.trans_card{
    transition: all 1s;
}