.q-s_map_movile{
    border-radius: 1.3rem;
    margin-bottom: 3rem;
    height: 200%;
    width: 100%;
}

.q-s_map_pc{
    border-radius: 1.3rem;
    margin-bottom: 3rem;
    height: 200%;
    width: 100%;
}

.q-s_h2{
    font-size: 2rem;
}

.q-s_img{
    margin-bottom: 0rem;
}

.q-s_box{
    margin-top: 3rem;
    border-radius: 1.3rem;
    height: 100%;
    width: 100%;
    margin-bottom: 3rem;
}
